.desc-card {
  width: 100%;
  height: 12vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.fav-img {
  margin-top: 5px;
  width: 100%;
  height: 72%;
  &:hover {
    background-size: 10px;
  }
}

.fav-icon {
  margin-top: 15px;
  position: absolute;
  right: 30px;
  transform: scale(1.3);
  color: rgb(4, 4, 4);
  cursor: pointer;
  background-color: rgb(255, 254, 254);
  border-radius: 50%;
  padding: 3px;
}
