.results-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;
  background-color: #dde1e7;
}

.card-container2{
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  height: 60vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45),
  5px 5px 9px rgba(94, 104, 121, 0.2);
}