.card-btn {
  display: flex;
  align-items: flex-end;
  background-color: #0288d1;
  border: none;
  border-radius: 2px;
  padding: 15px 30px;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
  &:hover {
    background-color: #016296;
  }
}

.desc-price1 {
  font-size: 30px;
}
